---
---

@import "base";

body {
  margin-top: 1em;
  font-family: "Noto Sans", sans-serif;
}

.portrait-column {
    padding: 0;
}

.portrait-image {
    border-radius: 50%;
    max-width: 7em;
}

.author-me {
    font-weight: 600;
}

h2 {
    margin-top: 0.5em !important;
    margin-bottom: 0.3em !important;
}

.columns {
    margin-bottom: 0 !important;
}

@media print {
    html, body {
        height: auto;
        font-size: 9pt; /* changing to 10pt has no impact */
    }
}

.publication-block {
    .publication-title {
        width: fit-content;
        margin: 0 !important;
        font-weight: 600;
        font-size: 110% !important;

        a { color: #000 }
    }

    .publication-venue {
        color: #555;
        width: fit-content;
        margin-top: 0;
    }

    .publication-venue-emph {
        font-style: normal;
        font-size: 80%;
        font-weight: 500;
        color: firebrick;
        padding-left: 0.25em;
    }

    .publication-awards {
        color: firebrick;
        width: fit-content;
        font-weight: bolder;
    }

    .publication-authors {
        .author-me {
            color: #000;
            font-weight: 600;
        }

        a {
            color: #000 !important;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .publication-image {
        border-radius: 2%;
        width: 100%;
        height: 100%;
        overflow: hidden;
        font-size: 0;

        img {
            width: 100%;
        }
    }

    .publication-mousecell {
        position: relative;
        font-size: 0;
    }

    .publication-mousecell {
        width: 100%;
        height: 100%;
        display: inline-block;
        overflow: hidden;

        video {
            display: none;
        }
    }

    .publication-description {
        color: #333;
        margin: 0.5em 0;
    }

    .publication-links {
        margin: 0 !important;
        margin-top: 0.5em !important;
    }
}